# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# exclude all tmp files and directories
*.tmp


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# this is a maven project (because we have a pom.xml file)
# no slash tells git we have a directory named target (anywhere)
# slash tells git we have a directory named target in root
# want to ignore everything that goes into target and build
/target/
build/

# because this is an intellij project we want to ignore out
out/

# bin is the output directory in eclipse, so we want to ignore this
bin/

# project metadata for intellij
.idea/

# ignore intellij module configuration file
*.iml